@import "../../Assets/Variabels.css";

.wrapper-login {
  display: flex;

  width: 100%;
  height: 100vh;
}

.wrapper-login .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-position: -300px -500px;
  color: white;
}

.wrapper-login .left > h2 {
  margin-bottom: var(--Margin1);
}
nav.navigation-login ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  margin: 0;
  height: 3.5rem;
  box-sizing: border-box;
}

nav.navigation-login ul li {
  padding: var(--Padding2) var(--Padding8);
  height: inherit;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #555;
  cursor: pointer;
}
nav.navigation-login ul li.active {
  color: var(--orange);
  border-bottom: 3px solid var(--orange);
}

nav.navigation-login ul li:hover {
  color: var(--orange);
  border-bottom: 3px solid var(--orange);
}
.wrapper-login .right {
  flex-grow: 1;
}

.wrapper-form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: 60%;
}

.wrapper-form-login > p:first-child {
  text-align: center;
  color: #555;
  margin: var(--Margin7) 0;
}
.wrapper-form-login > p.forgot-password {
  color: var(--orange);
  font-weight: 400;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--Margin2);
}

@media (max-width: 768px) {
  .wrapper-login .left {
    display: none;
    background-position: center;
  }

  .wrapper-form-login {
    max-width: 90%;
  }
}
