.nav-courses {
  background: #2c343c;
  height: 120px;
  display: grid;
  align-items: center;
}
.nav-courses ul {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  color: white;
}

.profile {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 20px;
}

.card {
  display: grid;
  background: #fff;
  padding-bottom: 10px;
  border-radius: 5px;
}

.card .card-body {
  padding: 10px 30px 20px 20px;
}
.card .card-body h2 {
  color: #666;
}
.wrapper-course {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 500px));
  column-gap: 50px;
  row-gap: 30px;
  align-items: center;

  width: 95%;
  justify-content: space-around;
  background: #2c343c;
  margin: 30px auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.card-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.wrapper-person {
  display: flex;
}

.wrapper-detail-person {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.text-person {
  font-size: 1.2rem;
  font-weight: 600;
}

.subtext-person {
  margin-top: 5px;
  color: #666;
}

.card-footer {
  margin: 10px 15px;
}
