html {
  font-size: 16px;
  letter-spacing: 0.5px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: #666;
}

.fweight-300 {
  font-weight: 300;
}
.fweight-400 {
  font-weight: 400;
}
.fweight-500 {
  font-weight: 500;
}
.fweight-600 {
  font-weight: 600;
}

.form-group {
  display: grid;
  row-gap: 10px;
  margin-bottom: 30px;
}
.form-group label {
  color: #666;
  font-weight: 600;
}

.input-form {
  height: 40px;
  border-radius: 3px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  outline: none;
  color: #444;
  font-size: 1rem;
}

.input-form:focus {
  box-shadow: 0 0 5px rgb(54, 141, 212);
  border: 1px solid rgb(54, 141, 212);
}

/* button */
.btn {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1.1rem;
}

.btn.btn-orange {
  color: white;
  background: #e98534;
}

.btn.btn-block {
  width: 100%;
}

.rounded-circle {
  border-radius: 50%;
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}
