.wrapper-detail-course {
  width: 90%;
  margin: auto;
  padding: 20px;
  margin-top: 50px;
}

.wrapper-detail-course .embed-video {
  background: #333;
}

.next-prev {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-top: 20px;
}

.next-prev .prev {
  justify-self: start;
}

.next-prev .next {
  justify-self: end;
}

.back {
  margin-left: 10px;
  color: red;
  cursor: pointer;
}
